.git
.gitignore
Dockerfile

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.venv/
venv/

exports/settings_global*.json
exports/timeseries_*.csv
exports/*_2[0-9][0-9][0-9][0-1][0-9][0-3][0-9]*.json
exports/forecast_accuracy_history.json
exports/dimension_registry.json
exports/scope_dimensions_map.json
exports/plan_tables/
